// ---------------------------------------------
// ======---------------------------------======
// Globals
// ======---------------------------------======
// ---------------------------------------------

html, body {
  padding: 0;
  margin: 0;

  font-family: $main;
  font-size: 16px;
}


body {
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

p {
  line-height: 1.75rem;
  text-align: justify;
}