// ---------------------------------------------
// ======---------------------------------======
// Variables
// ======---------------------------------======
// ---------------------------------------------

// ====---------------====
// Font Family
// ====---------------====
$main: 'Montserrat',
sans-serif;
// $secondary: 'Archivo Black',
// sans-serif;

$secondary: 'Nunito', sans-serif;
// $main: 'Roboto', sans-serif;
// ====---------------====
// Colors
// ====---------------====
$black: #333;
$navy: #1f2833;
$ltgrey: #c5c6c7;
$turquoise: #66fcf1;
$teal: #45a29e;
$coral: #ff6978;