// ---------------------------------------------
// ======---------------------------------======
// Social Media
// ======---------------------------------======
// ---------------------------------------------

.social-media {
  display: flex;
  justify-content: center;

}

.social-media--icn {
  margin: 1rem 1rem 0 1rem;

  font-size: 2rem;

  svg {
    opacity: 0.8;
    
    fill: $turquoise;
  }

  a {
    &:hover, &:focus {
      opacity: 0.8;
    }
  }
}