// ---------------------------------------------
// ======---------------------------------======
// Header styles
// ======---------------------------------======
// ---------------------------------------------

.header {
  display: flex;
  justify-content: flex-end;

  margin: 0;
}