// ---------------------------------------------
// ======---------------------------------======
// Header styles
// ======---------------------------------======
// ---------------------------------------------

.header {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 1rem;
}

.logo {
  width: 3rem;
  height: auto;

  margin-top: 0.5rem;
}