// ---------------------------------------------
// ======---------------------------------======
// Navigation
// ======---------------------------------======
// ---------------------------------------------
.main-nav {
  height: 4rem;

  font-family: $main;

  a, &:visited {
    padding: 0.25rem;

    color: $teal;
    text-decoration: none;

    &:hover, &:focus {
      opacity: 0.8;
    }

    &.active {
      border: 0.25rem solid $teal;
    }
  }


  ul {
    display: flex;

    li {
      margin: 1rem 2rem;

      list-style: none;
    }
  }

}