// ---------------------------------------------
// ======---------------------------------======
// Navigation
// ======---------------------------------======
// ---------------------------------------------
.main-nav {
  height: 4rem;

  font-family: $main;
  color: $turquoise;

  ul {
    display: flex;

    li {
      margin: 1rem 2rem;

      list-style: none;
    }
  }
}