// ---------------------------------------------
// ======---------------------------------======
// Structure
// ======---------------------------------======
// ---------------------------------------------
.main {
  width: 100%;
  height: calc(100% - 4rem);

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  // justify-content: center;
  // align-items: center;
}
