$grey: #50514f;
$purple: #7400B8;
$purpleblue: #6930C3;
$bluepurple: #5E60CE;
$blue: #4788D7;
$teal: #017ACD;
$white: #f2f2f2;
$black: #333;
$greylt: #e3e3e2;
$greymd: #767676;
$greyd: #3F3F37;

// $cloudy: #50514F;
// $sunny: #f2515c;
// $rainy: #247ba0;
// $thunderstorm: #6930c3;
// $cloudy: #70c1b3;
// $snow: #017ACD;
// $fog: #767676;