// ---------------------------------------------
// ======---------------------------------======
// About
// ======---------------------------------======
// ---------------------------------------------
// .about-content {
//   width: 80%;

//   margin: 2rem auto;

//   h1 {
//     margin: 1rem 0 0.5rem 0;

//     font-size: 5rem;
//     color: $teal;
//   }
// }

.intro {
  max-width: 30rem;

  margin: 0;

  p {
    &:nth-of-type(1){
      font-size: 1.5rem;
    }
  }

}