// ---------------------------------------------
// ======---------------------------------======
// Home page
// ======---------------------------------======
// ---------------------------------------------
.body__home {
  background-image: linear-gradient(rgba($navy, 0.75), rgba($navy, 0.75)), url('../images/forest-fog.jpg');
  background-size: cover;
  background-position: center;
}

.home-content {
  flex: 0 1 auto;

  h1 {
    margin-bottom: 0;

    font-family: $secondary;
    font-size: 8rem;
    color: $turquoise;

    letter-spacing: 0.25rem;
  }

  p {
    margin: 0;
    
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    color: $turquoise;
  }
}